@font-face {
    font-family: "Georgia";
    src: url(../fonts/georgia-italic.ttf);
}

body {
    padding: 20px;
    font-family: 'Lato', sans-serif;

}

main {
    margin-bottom: 40px;
}

.link:hover {
    text-decoration: underline;
    color: #303030;
}

.breadcrumb {
    margin-top: 33px;
    margin-bottom: 14px;.
}

.breadcrumb ul {
    display: flex;
    justify-content: center;
}

.breadcrumb ul li {
    padding-right: 15px;
}

.slash:after {
    content: " /  ";
    position: absolute;
    margin: 5px 5px;
}


.breadcrumbs-link {
    font-size: 16px;
    text-transform: uppercase;
    color: #606060;
    text-decoration: none;
}



.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

}
main .category:last-of-type{
    border-bottom: none;
}
.hero {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-title {
    font-size: 36px;
    font-weight: bold;
    color: #303030;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 34px;

}

.show {
    display: none;
    font-family: Georgia, serif;
    font-size: 18px;
    color: #606060;
    padding-bottom: 30px;

}

.goods-item {
    flex-basis: calc((100% - 40px) / 2);
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #303030;
    text-align: center;
    margin-bottom: 24px;
}

.wrap-img {
    width: 165px;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-img img {
    max-width: 100%;
    max-height: 100%;
}

.goods-name {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

.gallery {
    display: none;
    height: 120px;
    /*display: flex;*/
    position: relative;
    margin-bottom: 125px;
}

.gallery-title{
    display: none;
    flex-basis: 100%;
    font-family: Georgia, serif;
    font-size: 24px;
    color: #909090;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 45px;
}
.arrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    background: #e5e5e5;
    opacity: 0.8;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.arrow-link{
    font-size: 26px;
    color: white;
}

.photos-container {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.photos-container img{
    height: 120px;
}

@media (min-width: 768px) {

    .category {
        padding-left: calc((100% - 500px) / 2);
        padding-right: calc((100% - 500px) / 2);
    }

    .wrap-img {
        width: 225px;
    }

}

@media (min-width: 1024px) {
    body {
        padding: 33px;
    }

    .breadcrumb ul {
        justify-content: flex-start;
    }

    .breadcrumbs-link {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .block-title{
        margin-bottom: 55px;
    }

    .category {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }

    .goods-item {
        flex-basis: calc((100% - 270px) / 4);
    }

    main .category:last-of-type{
        border-bottom: 1px solid #e5e5e5;
    }

    .gallery-title {
        display: inline-block;
        width: 100%;
    }
    .gallery {
        display: flex;
    }

}

@media (min-width: 1440px) {
    body {
        border-left: calc((100vw - 1244px) / 2) solid #e5e5e5;
        border-right: calc((100vw - 1244px) / 2) solid #e5e5e5;
    }
}