@font-face {
    font-family: "Georgia";
    src: url(../fonts/georgia-italic.ttf);
}

body {
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 69px;
    line-height: 79px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 35px;
    color: #303030;
}

.description {
    text-align: center;
    font-family: Georgia, serif;
    color: #606060;
    font-size: 24px;
    line-height: 1.45em;
    letter-spacing: 1.2px;
    padding-top: 27px;
    padding-bottom: 50px;
}

.update-button {
    display: none;
    width: 230px;
    height: 58px;
    font-size: 14px;
    border: 1px solid #a3a3a3;
    text-transform: uppercase;
    background: white;
    margin-bottom: 135px;
    margin-top: 15px;
}

.update-button:hover{
    background: #e5e5e5;
}

.photos {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.photo:nth-child(1) {
    height: 230px;
}

.photo:nth-child(2) {
    height: 200px;
}

.photo:nth-child(3) {
    height: 150px;
}

.photo:nth-child(4) {
    height: 275px;
}

.photo:nth-child(5) {
    height: 275px;
}

.photo:nth-child(6) {
    height: 230px;
}

.photo:nth-child(7) {
    height: 200px;
}

.photo:nth-child(8) {
    height: 275px;
    background: red;
}

.crop {
    position: relative;
    overflow: hidden;
}

.crop img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.photo h3 {
    /*font-size: 26px;*/
    font-size: 24px;
    font-weight: bold;
}

.photo-description {
    font-family: Georgia, serif;
    font-size: 18px;
    /*font-size: 22px;*/
    line-height: 1.45em;

}

.subscription h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 1.16;
    text-transform: uppercase;
    color: #303030;
    text-align: center;
    margin-bottom: 12px;
    /*margin-bottom: 35px;*/
}

.subscription p {
    font-family: Georgia, serif;
    font-size: 18px;
    color: #606060;
    text-align: center;
    margin-bottom: 55px;
    line-height: 21px;
    letter-spacing: 0.5px;

}

.subscription-form {
    display: flex;
    margin-bottom: 76px;
}

.subscription-form input {
    flex: 1;
    border: 1px solid #a3a3a3;
    font-size: 11px;
    font-style: italic;
    color: #303030;
    padding: 10px 20px;
}

.subscription-form input::-webkit-input-placeholder {
     color: #303030;
 }

.subscription-form input:-ms-input-placeholder {
    color: #303030;
}

.subscription-form input::-moz-placeholder {
    color: #303030;
}

.form-btn {
    width: 94px;
    height: 54px;
    border: none;
    background: #f68263;
    color: white;
    font-size: 14px;
}

.form-btn:hover{
    background: #e67429;
}

.gallery {
    height: 120px;
    display: flex;
    margin-bottom: 2px;
    position: relative;
}
.arrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    background: #e5e5e5;
    opacity: 0.8;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.arrow-link{
    font-size: 26px;
    color: white;
}

.photos-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    }

.photos-container img{
   min-width: 200px;
    min-height: 100%;
}

.link:hover{
    text-decoration: underline;
}

@media (min-width: 768px) {
    .search {
        order: 3;
        flex-basis: inherit;
        margin: 0;
    }

    .search .search-field {
        width: 150px;
    }

    .photos {
        padding-left: calc((100% - 500px) / 2);
        padding-right: calc((100% - 500px) / 2);
    }

    .subscription h2{
        margin-bottom: 19px;
    }

    .subscription-form {
        padding-left: calc((100% - 570px) / 2);
        padding-right: calc((100% - 570px) / 2);
    }
}

@media (min-width: 1024px) {
    body{
        padding: 33px;
    }

    main h1 {
        padding-top: 135px;
    }

    .update-button {
        display: block;
    }

    .photos{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    .photo h3 {
        font-size: 34px;
        padding-bottom: 5px;
    }

    .photos .photo{
        flex-basis: 25%;
        height: 241px;
    }

    .crop img{
        min-width: 100%;
        min-height: 100%;
    }

    .subscription h2{
        margin-bottom: 18px;
    }

    .subscription form{
        padding-left: calc((100% - 580px) / 2);
        padding-right: calc((100% - 580px) / 2);
    }

    .gallery{
        margin-bottom: 47px;
    }

}

@media (min-width: 1440px) {
    body{
        border-left: calc((100vw - 1244px)/2) solid #e5e5e5;
        border-right: calc((100vw - 1244px)/2) solid #e5e5e5;
    }
}








